.form {
    display: flex;
    gap: 2rem;

    margin-bottom: 2rem;

    &__button {
        align-self: flex-end;

        width: 8rem;
        height: 3rem;

        border: 2px solid $color-border-blue;
        border-radius: $border-radius;
        background-color: $color-button;
        color: $color-white;
        box-shadow: $box-shadow-light;
        font-weight: 600;
        
        cursor: pointer;
        
        transition: all 0.2s;
        
        &:hover {
            box-shadow: $box-shadow-medium;
            transform: scale(1.02);
        }
    }
}